body{
  background:#000;
}



div {
  box-sizing:border-box;
}

.grid-container {
  /*border-radius:10000px;*/
  /*border:2px solid white;*/
  float: left;
  /*padding:3rem;*/

  width:49%;
  
}

.grid {
    /*margin:4rem;*/
    height:30rem;
    width:30rem;
    float: left;
    -moz-perspective:2000px;
    transform:  rotateX(72deg) skewX(-5deg) rotateZ(35deg) translateX(120px) translateZ(80px);
  }

  .grid-cell {
    height:24%;
    width: 24%;
    margin:0 0 1% 1%;
    float: left;
    position: relative;
    border:1px solid white;
    border-radius:100px;
    background-color: rgba(255,255,255,0.1);
    
  }

  .grid-cell:hover {
    background: rgba(255,120,220,0.2);
  }


.playbox {
  float: right;
  border:1px solid #ccc;
  padding:2rem;
  width:8rem;
  height:8rem;
  position: relative;
  right: 4rem;
  margin-top:3rem;
}

.pieces {
  width: 100%;
  /*margin:0 0 0 20%;*/
  padding:0 0 0,5rem 0;
  overflow:auto;
}

.piece {
  position: relative;
  float:left;
  margin: 0.3rem;
  border:1px solid transparent;

}

.piece:hover {
  border-color:#ddd;
}

.dark {
  background:#444;
}

.light {
  background:#eee;
}

.square {}

.round {
  border-radius:50px;
}

.full {}

.hollow:after  {
  content:' ';
  width:50%;
  height:50%;
  background:#333;
  left:25%;
  top:25%;
  border-radius: 5rem;
  position: absolute;
} 

.short {
  width:4rem;
  height: 4rem;
}
  
.tall {
  width:5rem;
  height:5rem;
}

.button-container {
 position: absolute;
  bottom:6rem;
  right:6rem;
  /*margin:4rem 0 4rem 4rem;*/
  width: 20%;
}

.button-container button {
  display: block;
  height: 3rem;
  float: left;
  width: 90%;
  margin: 0 auto;
}


.grid-cell .piece,
.playbox .piece {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}